@import "tailwindcss";

@theme {
  --color-background: #111315;
  --color-foreground: #171a1d;
  --color-accent: #A3E635;
  --text-primary: #f2f0eb;
  /* --text-secondary: #89919a; */
  --color-muted: #8b929b;
  --color-border: #303439;
  --color-logo: #ce9c15;
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  background-color: var(--color-background);
  color: var(--text-primary);
  font-family: var(--font-geist);
}